* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.container {
    width: 100%; /* Mantém a largura total */
    max-width: 400px; /* Diminui a largura máxima do contêiner */
    text-align: center;
    margin-top: 20px;
    display: flex; /* Ativa o flexbox */
    flex-wrap: wrap; /* Permite que os itens se ajustem para a linha seguinte */
    justify-content: center; /* Centraliza as categorias */
    gap: 250px; /* Espaçamento entre as categorias */
    overflow-y: auto;
    max-height: 90vh;
}

.welcome-text {
    margin-bottom: 20px;
    font-size: 2em;
    display: inline-block;
    opacity: 0;
    animation: fadeInDown 2s ease forwards, letterAppear 1s ease forwards;
    animation-delay: 0s; /* Delay para a animação iniciar após um tempo */
    white-space: nowrap; /* Evita quebra de linha */
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes letterAppear {
    0% {
        visibility: hidden;
    }
    10% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

.category {
    margin: 0;
    padding: 20px;    
    background-color: #191919;
    text-align: left;
    min-width: 250px;
    
}

.category-link {
    text-decoration: none;
    color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category h2 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 1.5em;
    margin-left: 5px;    
}

.category p {
    margin-top: 5px;
    font-size: 1em;
    color: #ccc;
}

.images {
   width: 80px;
}